body {
  background-color: #708090;
  color: white;
}

button {
  margin: 20px;
}

td {
  background-color: #708090;
}

#top {
  height: 250px;
}

#audioPlayback {
  display: none;
}

.progress {
  display: contents;
}

.button-group {
  padding: 80px;
}
